In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/nagarjuna843/Adaboost/main/income.csv')
df.head()

   age  fnlwgt     education  ...  capital_loss  hours_per_week  income
0   90   77053       HS-grad  ...          4356              40       0
1   82  132870       HS-grad  ...          4356              18       0
2   66  186061  Some-college  ...          4356              40       0
3   54  140359       7th-8th  ...          3900              40       0
4   41  264663  Some-college  ...          3900              40       0

[5 rows x 8 columns]

In [3]:
inputs=df.drop(['education','income'],axis='columns')
target=df['income']

In [4]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [5]:
gradient_classifier=GradientBoostingClassifier(max_depth=2,n_estimators=3,learning_rate=1.0)
model=gradient_classifier.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [6]:
print(r2_score(y_pred,y_test))
print(model.score(x_train,y_train))

0.4996076924308659
0.8799699924981246

In [8]:
from sklearn.model_selection import GridSearchCV
LR={'learning_rate':[0.15,0.1,0.05],'n_estimators':[5,10,15,200]}
tuning=GridSearchCV(estimator=GradientBoostingClassifier(),param_grid=LR,scoring='r2')
tuning.fit(x_train,y_train)
print(tuning.best_params_)
print(tuning.best_score_)

{'learning_rate': 0.15, 'n_estimators': 200}
0.7676290556541996

In [10]:
feature_importance=pd.DataFrame(model.feature_importances_,inputs.columns,columns=['Importance'])
feature_importance.sort_values('Importance',ascending=False)

                Importance
capital_gain      0.586137
capital_loss      0.348456
education_num     0.049650
age               0.015756
fnlwgt            0.000000
hours_per_week    0.000000