In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/nagarjuna843/Gradient-Boost/main/boston%20housing.csv')
df.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
inputs=df.drop(['medv'],axis='columns')
target=df['medv']

In [4]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [5]:
gradient_regressor=GradientBoostingRegressor(max_depth=2,n_estimators=3,learning_rate=1.0)
model=gradient_regressor.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [8]:
print(r2_score(y_pred,y_test))
print(model.score(x_train,y_train))

0.43167815690946965
0.871170039917035

In [9]:
from sklearn.model_selection import GridSearchCV
LR={'learning_rate':[0.15,0.1,0.05],'n_estimators':[5,10,15,200]}
tuning=GridSearchCV(estimator=GradientBoostingRegressor(),param_grid=LR,scoring='r2')
tuning.fit(x_train,y_train)
print(tuning.best_params_)
print(tuning.best_score_)

{'learning_rate': 0.05, 'n_estimators': 200}
0.8708299590070402

In [10]:
predicted_values=pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
print(predicted_values)

     y_test     y_pred
438     8.4  11.069923
361    19.9  23.795828
264    36.5  32.979741
78     21.2  23.795828
360    25.0  23.795828
..      ...        ...
413    16.3  11.069923
454    14.9  14.440410
183    32.5  23.795828
469    20.1  14.440410
501    22.4  23.795828

[102 rows x 2 columns]

In [11]:
feature_importance=pd.DataFrame(model.feature_importances_,inputs.columns,columns=['Importance'])
feature_importance.sort_values('Importance',ascending=False)

         Importance
rm         0.689750
lstat      0.200017
nox        0.058032
dis        0.026756
crim       0.025445
zn         0.000000
indus      0.000000
chas       0.000000
age        0.000000
rad        0.000000
tax        0.000000
ptratio    0.000000
b          0.000000